<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Relatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Relatório</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="auto">Data</ion-col>
      <ion-col size="auto">Código</ion-col>
      <ion-col size="auto">Descrição</ion-col>
      <ion-col size="auto">EntradaQtidade</ion-col>
      <ion-col size="auto"> EntradaValorUn</ion-col>
      <ion-col size="auto"> EntradaValorTotal</ion-col>
      <ion-col size="auto">SaidaQtidade</ion-col>
      <ion-col size="auto"> SaidaValorUn</ion-col>
      <ion-col size="auto"> SaidaValorTotal</ion-col>
      <ion-col size="auto">SaldoQtidade</ion-col>
      <ion-col size="auto">SaldoValorMedio</ion-col>
      <ion-col size="auto"> SaldoValorTotal</ion-col>
    </ion-row>

    <!-- Loop através dos dados do relatório e exiba-os nas colunas -->
    <ion-row *ngFor="let item of relatorio">
      <ion-col size="auto">{{ item.data }}</ion-col>
      <ion-col size="auto">{{ item.idProduto }}</ion-col>
      <ion-col size="auto">{{ item.descricao }}</ion-col>
      <ion-col size="auto">{{ item.entradaQuantidade }}</ion-col>
      <ion-col size="auto">{{ item.entradaValorUnit }}</ion-col>
      <ion-col size="auto">{{ item.entradaValorTotal }}</ion-col>
      <ion-col size="auto">{{ item.saidaQuantidade }}</ion-col>
      <ion-col size="auto">{{ item.saidaValorUnit }}</ion-col>
      <ion-col size="auto">{{ item.saidaValorTotal }}</ion-col>
      <ion-col size="auto">{{ item.saldoQuantidade }}</ion-col>
      <ion-col size="auto">{{ item.saldoValorMedio }}</ion-col>
      <ion-col size="auto">{{ item.saldoValorTotal }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="voltarDashboard('dashboard')">Voltar</ion-button>
  <ion-button expand="block" (click)="sair('sair')">Sair</ion-button>
</ion-content>
