<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!-- Graficos -->
  <!-- <ion-list *ngFor="let item of relatorio"> -->
  <ion-list *ngFor="let item of relatorio; let i = index">

    <ion-item *ngIf="i === 0 ">
      <ion-label>
        <h2>{{ item.descricao }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Dashboard Compra -->
  <!-- [labels]="chartLabels" -->
  <canvas baseChart [datasets]="chartData" [type]="chartType" [labels]="chartLabels">
  </canvas>

  <ion-list>
    <ion-item>
      <ion-item>
        <ion-label>Tipo do Gráfico</ion-label>
        <ion-select [(ngModel)]="chartType">
          <ion-select-option value="line">Linha</ion-select-option>
          <ion-select-option value="bar">Barra</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
  </ion-list>

  <!-- <canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas> -->

  <!-- Dashboard Vendas -->
  <!-- <canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas> -->

  <ion-button expand="block" (click)="relatorioProduto(id)">Relatório</ion-button>
  <ion-button expand="block" (click)="sair('sair')">Sair</ion-button>
</ion-content>
