/* .content_div {
  background: #FFF;
  width: 100%;
   margin-top: 90px;
  padding-top: 30px;

  canvas {
    max-width: 100%;
  }

  .teste{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tipoDeGrafico {
    align-items: center;
  }
} */
